[submodule "vendor"]
	path = vendor
	url = https://github.com/roberthusak/mediawiki-vendor.git
	branch = master
[submodule "skins/Vector"]
	path = skins/Vector
	url = https://github.com/wikimedia/mediawiki-skins-Vector.git
	branch = master
